* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* App-wide styling */
body {
    background-color: #191919;
    color: #C3C3C3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Title {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navigtaion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Center and style search bar and submit button */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

/* Style for cards */
.card {
    background-color: #2E2E2E;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: #C3C3C3;
    gap: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content {
    font-size: 16px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}